[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "6.0.3"
django-phonenumber-field = "8.4.0"
phonenumberslite = "9.0.26"

[dev-packages]
djlint = "*"
ruff = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.0"

[scripts]
test = "pipenv run python runtests.py"