[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phonenumber-field = "*"
phonenumberslite = "*"

[dev-packages]
djlint = "*"
ruff = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.0"

[scripts]
test = "python runtests.py"